@model IEnumerable<BankFull.Models.Role>

@{
    ViewData["Title"] = "Index";
}


<h1 class="text-dark">Role</h1>
<hr />
   
<p>
    <a asp-action="Add Role" class="text-info anc "><i class="fa-solid fa-folder-plus fa-lg"></i> Create Role</a>
</p>
<table class="table tablecolor ">
    <thead class="bg-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role1)
            </td>
            <td>
                   <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-lg anc text-success fa-regular fa-pen-to-square"></i></a> 
               
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-lg anc text-danger fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
