@using BankFull.Controllers;  
@model IEnumerable<PhotoSendModel>



    <h1>Hello</h1>





   <table id="datass" class="mb-4 table tablecolor wid " style="width:75vw;">
    <thead class="bg-danger">
          <tr>
              <th>Mid</th>
              
             <th>
                Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
            <th>
                Document
            </th>
            
             <th>
                Final_Document
            </th>
            
          
         
            
        </tr>
            
        
    </thead>
    <tbody>
@foreach (PhotoSendModel item in Model) {

         
            
                <tr>  
                    <td>
                        @Html.DisplayFor(modelItem => item.tbl.Id) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tbl.BankDetail.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.tbl.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tbl.Date)
                    </td>


                    <td>

                        <img src="~/@Html.DisplayFor(modelItem => item.tbl.DocumentPath)" width="50px"/>

                    </td>




                    <td>
                         <img src="~/@Html.DisplayFor(modelItem => item.photosen.Photo)" width="50px"/>
                        
                    </td>     

                </tr>
            
        }
    </tbody>
</table>

 <script>
   $(document).ready(function () {
    $('#datass').DataTable();
       
});



</script>

                 @section scripts{
             @*DataTable*@
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css"/>

    <script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>

       }
