body {
    
   padding:0px !important;
    width:97% !important;
}


::-webkit-scrollbar {
   scroll-behavior:smooth;
   display:none;
  
  
}


.a {
    text-decoration: none !important;
    color: white !important;
    font-family: "Trirong", serif;
}
    .a:hover {
        background-color: rgba(105, 119, 119, 0.266);
       
    }

.anc {
    text-decoration: none !important;
   
}

    .anc:hover {
        
       opacity:60%;
    }

#medwid {
       
      
    /* left: 20px; */
}

#padding {
  
}


.tablecolor {
    background-color: lightblue;
}



@media (max-width:769px ) {
    #medwid {
       margin-left: 15%;
        
        /*        padding-left:15px;*/
        /* left: 20px; */
    }
    .wid{
        width:99vw;
    }
    #padding {
        padding-right: 0px;
    }
    .crea{
        padding:10px;
    }
  }


@media (max-width:622px ) {
    #medwid {
        margin-left: 15%;
        /*        padding-left:15px;*/
        /* left: 20px; */
    }

    .wid {
        width: 99vw;
    }

    #padding {
        padding-right: 0px;
    }

    .crea {
        padding: 10px;
    }
}



@media (max-width:550px ) {
    #medwid {
        margin-left: 15%;
        /*        padding-left:15px;*/
        /* left: 20px; */
    }

    .wid {
        width: 99vw;
    }

    #padding {
        padding-right: 0px;
    }

    .crea {
        padding: 10px;
    }
}


@media (max-width:503px ) {
    #medwid {
        margin-left: 15%;
        /*        padding-left:15px;*/
        /* left: 20px; */
    }

    .wid {
        width: 99vw;
    }

    #padding {
        padding-right: 0px;
    }

    .crea {
        padding: 10px;
    }
}

@media (max-width:280px ) {
    #medwid {
        margin-left: 18%;
        /*        padding-left:15px;*/
        /* left: 20px; */
    }

    .wid {
        width: 99vw;
    }

    #padding {
        padding-right: 0px;
    }

    .crea {
        padding: 10px;
    }
}

.active {
    background-color: rgb(105, 119, 119);
}

.centering{
    position:absolute;
    left:50%;
    transform:translate(-50%);
}

.widt {
    width: 100% !important;
    
}

